.movie-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movie-card{
    margin:5px;
    width:200px;
}

.login-page{
    width:860px;
    margin:auto;
}
.nav-item{
    padding-right:20px;
}

main{
    padding:50px;
}

.btn.btn-primary{
    background-color: darkgrey;
    border:1px solid darkgray;
}